<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>IndieFind Discover</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Foundation Framework CSS -->
  <link rel="stylesheet" href="css/foundation.min.css">

  <!-- Include font -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">


  <!-- Include Amplitude JS -->
  <script type="text/javascript" src="js/amplitude.js"></script>

  <!-- Foundation jQuery and Functions -->
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/foundation.min.js"></script>
  <!--
  Include UX functions JS

  NOTE: These are for handling things outside of the scope of AmplitudeJS
-->
  <script type="text/javascript" src="../js/functions.js"></script>
</head>
<body class="light-blue lighten-3">
<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img alt="logo" style="height:50px" src="img/logo.png"></a>
    <ul class="right hide-on-med-and-down">
      <!--<li><a href="#">Sign In</a></li>-->
        <!-- Modal Trigger -->
        <!--<button data-target="modal1" class="btn modal-trigger">Sign In</button>-->
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="#">Navbar Link</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center white-text">Welcome to IndieFind</h1>
    <div class="row center">
      <h5 class="header col s12 light">Discover your new favourite artist</h5>
    </div>

  </div>
  <br><br>
</div>



<div class="container">
  <div class="section">

    <!--   Icon Section   --> <div class="row center">

      <a id="player-button-go-to"  onclick="openMusic()" class="btn-large waves-effect waves-light btn ">Listen Now</a>

    <div class="row">

    </div>

  </div>
    <br><br>
  </div>
</div>
<footer class="page-footer dark blue">

</footer>



</body>



<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">

    </div>
</div>
</html>

<script>
    function openMusic() {
        myWindow = window.open("musicplayer", "myWindow", "width=600,height=500");
    }

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('.modal').modal();
    });
    </script>