<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>IndieFind Discover</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Foundation Framework CSS -->
  <link rel="stylesheet" href="css/foundation.min.css">

  <!-- Include font -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">

  <link rel="shortcut icon" href="/img/favicon.ico" />
  <!-- Include Amplitude JS -->
  <script type="text/javascript" src="js/amplitude.js"></script>

  <!-- Foundation jQuery and Functions -->
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/foundation.min.js"></script>
  <!--
  Include UX functions JS

  NOTE: These are for handling things outside of the scope of AmplitudeJS
-->
  <script type="text/javascript" src="../js/functions.js"></script>
</head>
<body class="light-blue lighten-3" style="background-image:url(/img/back2.jpg); background-size: cover; background-repeat: no-repeat;">
<nav class="light-blue lighten-1" role="navigation" style="
    height: 100px;
">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img alt="logo" style="height: 100px;"src="img/logo.png"></a>
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center pink-text text-lighten-1" style="font-size: 5em; font-family: monospace">IndieFind</h1>
    <div class="row center">
      <h5 class="header col s12 light" style="font-size: 3em; font-family: unset">Just Push Play</h5>
    </div>

  </div>
  <br>
  <div class="container">
    <div class="section">

      <!--   Icon Section   --> <div class="row center">

      <!--<a id="player-button-go-to"  onclick="openMusic()" class="btn-floating btn-large waves-effect waves-light btn "><i class="material-icons">play_arrow</i></a>-->
      <a id="player-button-go-to"  onclick="openMusic()" class="hide-on-med-and-down">
        <img src="/img/play.png" style="height: 50%; width: 50%">
      </a>
      <a id="" href="/musicplayer" class="hide-on-large-only">
        <img src="/img/play.png" style="height: 70%; width: 70%">
      </a>
      <!--<a class="btn-floating btn-large waves-effect waves-light red"></a>-->
      <div class="row">

      </div>

    </div>
      <br><br>
    </div>
  </div>
</div>








</body>



<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">

    </div>
</div>
</html>
<script>

    window.onkeydown = function(e) {
        return !(e.keyCode == 32);
    };


    function openMusic() {
        myWindow = window.open("musicplayer", "myWindow", "width=347,height=640");
    }

    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, options);
    });

    // Or with jQuery

    $(document).ready(function(){
        $('.modal').modal();
    });
    </script>